
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

h1{
    line-height: 1; 
    /* line-height: 0.5;
    line-height: 10px;  */ 
    text-align: justify; /* spaces removed from left and right*/
}

#border{
    border:2px solid black;
    width: 20vw;
    height: 40vh;
    background-color: blueviolet;
    border-radius: 20px;
    /* border-radius: 50%; */
}

#padding{                              /* space inside the element*/
  background-color: chocolate;
  padding:15px;
}

#margin{                              /* Space outside the element */
   background-color: crimson;  
   margin: 20px;
}
