button:hover{
   background-color: lightcoral;
   cursor: pointer;
}

button:active{
    background-color: lightslategray;
}

button{
    height: 70px;
    width: fit-content;
    padding: 5px;
}
div{
    display: flex;
    justify-content: center;
}
